<admin-header></admin-header>
<admin-sidebar></admin-sidebar>
<div id="page-content">
    <div class="content-title">Change Password</div>
    <div class="content-box">
        <form #changeForm="ngForm" (ngSubmit)="changePassword(changeForm)">
            <mat-form-field>
                <mat-label>Current Password</mat-label>
                <input type="password" matInput name="currentPassword" ngModel required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>New Password</mat-label>
                <input type="password" matInput name="newPassword" ngModel required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Confirm New Password</mat-label>
                <input type="password" matInput name="confirmPassword" ngModel required>
            </mat-form-field>
            <button mat-raised-button color="primary"
                [disabled]="changeForm.invalid || changeForm.value.newPassword != changeForm.value.confirmPassword">Change
                Password</button>
        </form>
    </div>
</div>
<loading [show]="loading"></loading>