<div class="row perfect-centered">
    <div id="form">
        <div class="content-title">Reset Password</div>
        <div class="content-box">
            <mat-form-field>
                <mat-label>New Password</mat-label>
                <input matInput [(ngModel)]="newPassword">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Re Enter New Password</mat-label>
                <input matInput [(ngModel)]="rePassword">
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="resetPassword()"
                [disabled]="!newPassword || !rePassword || newPassword!=rePassword">Reset</button>
        </div>
    </div>
</div>
<loading [show]="loading"></loading>